* {
    font-family:'Times New Roman', Times, serif;
    margin: 0; padding: 0;
    outline: none; border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
header{
    background-color: white;
    position: fixed;
    top:0; left:0;width: 100%;
    padding: 20px;
    z-index: 1000;
    
}
:root {
    --red:#b22222;
    --black: black;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* */
.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 85vh;
  overflow: hidden;
}
.login{
  height: 100vh;
}
.out_login{
  margin: 50px 0;
}
.out_login a{
  font-size: 2rem;
  color: black;
}
.out_login a:hover{
  color: var(--red);
}
.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 3rem;
  color: #444;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 2rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-size: 2rem;
  color: grey;
  text-transform: none;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 10px 0px 10px;
  font-size: 2rem;
  text-transform: none;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #b22222;
  border-color: #b22222;
  transform: scale(1.1);
}

.btn {
  width: 180px;
  background-color: white;
  height: 49px;
  color: var(--red);
  border: 2px solid var(--red);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  font-size: 2rem;
}

.btn:hover {
  background-color: #b22222;
  color: white;
  transform: scale(1.05);
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #b22222 0%, #b22222 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 2rem;
  text-transform: uppercase;
}

.panel p {
  font-size: 1.8rem;
  padding: 10px 10px 10px 10px;
  text-transform: none;
  width: 450px;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  color: white;
  width: 150px;
  height: 41px;
  font-weight: 600;
  font-size: 2rem;
}
.btn.btn.transparent:hover{
    color: var(--red);
    background-color: white;
    transform: scale(1.05);
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

/* header */
.header {   
    position: fixed;
    top: 0; right: 0; left: 0;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    color: var(--red);
}
.header span{
    color: black;
}
.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--red);
}
.header .logo i{
    color: var(--red);
    font-weight: 3px;
}
.header .navbar a{
    font-size: 2rem;
    color: black;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
}
.header .navbar a:hover{
    color: var(--red);
}

header #toggler{
    display: none;
}
header .fa-bars {
    font-size: 3rem;
    color:var(--red);
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}
header .icons div{
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   border-radius: .5rem;
   color:  var(--black);
   font-size: 2rem;
   margin-right: .3rem;
   cursor: pointer;
}
header .icons div:hover{
    color: var(--red);
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 110%; right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active{
    right: 2rem;
    transition: .5s linear;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}
.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--red);
}

.thansp {
    width: 100%;
    min-height: 13vh;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0 auto;
}

/* footer */
.container-footer {
    max-width: 1230px;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    background: #f5f5f4;
    color:black;
    font-size: 2rem;
    padding: 20px 0 10px;
}

.footer p {
    color: black;
    font-size: 1.8rem;
}

.footer ul {
    color: black;
}

.footer h2 {
    color: var(--red);
    font-size: 2.3rem;
    margin-bottom: 20px;
    text-transform: none;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
    min-width: 290px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 20%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 250px;
    height: 40px;
}

.footer-col-3 {
    flex-basis: 12%;
    text-align: left;
    line-height: 30px;
    font-size: 1.8rem;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}


/*THANH TOAN*/